name: Deploy Zensical Docs

on:
  push:
    branches: [master]
  workflow_dispatch: # Allows you to run this manually from the Actions tab

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          cache: 'pip' # Speeds up future builds

      - name: Install Everything
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Build Zensical Site
        run: zensical build

      - name: Upload Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./site

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4